---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contáctenos - Los 4 Automáticos" description="Contáctenos para más información sobre nuestros productos.">
  <Header />
  <main>
    <HeroSection 
      title="Contáctenos" 
      description="Estamos aquí para ayudarte con cualquier pregunta o inquietud que tengas sobre nuestro proyecto. No dudes en ponerte en contacto con nosotros a través del formulario a continuación."
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
