---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 1: Automatización e Industria 4.0" description="Explora el Módulo 1 de Los4Automaticos, donde se desarrollan diagramas de instrumentación del proceso, identificando sensores y actuadores clave, así como la arquitectura de control y sus comunicaciones. Integra tecnologías de Industria 4.0 como el gemelo digital y el IIoT, además de averiguar una posibl;e implementación de un MES usando power BI.">
  <Header />
  <main>

    <HeroSection 
      title="Módulo 1: Automatización e Industria 4.0" 
      highlightText="Módulo 1:"
	  description="En este módulo se presentarán los diagramas de instrumentación de cada proceso, identificando  sus sensores y actuadores clave, así como la arquitectura de control y comunicaciones, el montoreo de los sitemas, incluyendo los protocolos y niveles de automatización establecidos en la norma ISO-95. El obejetivo es la integracióbn de tecnologías de Industria 4.0 como lo son la virtualización de fábrica, el IIoT y el Cloud Computing, con tecnologías modernas de MES como Power BI y contenedores en Azure. Analizando su propósito e impacto mejorando los indicadores clave de desempeño (KPIs) de producción"
    />
    
    

    <!-- VSM Viejito -->
    <!--
    <section class="section relative z-10 overflow-hidden py-12 md:py-16">
      <div class="container-custom">

        <div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-primary-100 dark:bg-primary-900 text-primary-600 dark:text-primary-300 font-medium text-sm mb-4">
            Pre-automatización
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Diagrama VSM</h2>
          <p class="text-gray-600 dark:text-gray-300">
            Analisis de producción en la pre-automatización.
          </p>
        </div>

        <div class="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
          padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
          border-radius: 8px; will-change: transform;">

        </div> 
      </div>
    </section>

    -->

    <section class="section bg-linear-to-b from-white to-primary-50 dark:from-primary-700 dark:to-primary-800 relative overflow-hidden py-12 md:py-16">
      <div class="container-custom">
        <div class="grid md:grid-cols-2 gap-12 items-center mb-24">
          <div>
            <span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-950 text-info-400 dark:text-info-100 font-medium text-sm mb-4">
            Diagramas
            </span>
            <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Pirámide de la Automatización</h2>
            <p class="text-secondary-700 dark:text-gray-50 mb-4">
			La norma ISA 95 define la pirámide de la automatización similar al diagrama que se observa en el diagrama. Los niveles de la pirámide se definen, de arriba hacia abajo, como:<br>
			<ol>
					<li>Business Planning and Logistics: La herramienta a usar es el ERP (Enterprise Resource Planning)</li>
					<li>Manufactoring Operations Management: Sistemas MES (Manufacturing Execution Systrem)</li>
					<li>Monitoring & Supervision: Aquí es donde se encuentran  los sistemas SCADA (System Control And Data Acquisition) y HMI(Humasn Machine Interface) </li>
					<li>Sensing & Manipulation: Donde los Controladores Industriales (PLCs y PACs) manejan las máquinas</li>
					<li>Production Process: También llamado nivel de planta o Floor level</li>
			</ol>
            </p>
          </div>
          <div class="rounded-lg overflow-hidden shadow-xl border border-gray-200 dark:border-gray-700">
				  <img src="../images/PiramideISA95.png" alt="Pirámide de la Automatización de Acuerdo a la norma ISA-95" class="w-full h-auto" />
          </div>
        </div>
      </div>
    </section>

    <!-- Feature Comparison -->
    <section class="section bg-primary-50 dark:bg-primary-800 py-12 md:py-16">
      <div class="container-custom">
        <div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-950 text-info-400 dark:text-info-100 font-medium text-sm mb-4">
            Comunicaciones
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Arquitecturas de Comunicación y control preliminares</h2>
          <p class="text-secondary-700 dark:text-gray-200">
		  Las comunicaciones son una de las partes más importantes si no es que la más importante de una planta automatizada. Pues si no hay comunicación no hay una adecuada coordinación de los sistemas y niveles de la pirámide vista anteriormente. Es por esto que escogemos conexiones por medio de ethernet/IP para asegurar una conexión rápida, robusta, segura y estable entre los niveles de planta, control y monitoreo y supervisión. Mientras que para la comunicación entre los niveles de monitoreo y supervisión y los niveles superiores como Gestionamiento de la operación de manufactura y planeamiento y logística de la empresa. Tendremos comunicación por medio de servicios en la Nube. Esto debido no sólo a la diferencia en el tiempo en que estos niveles manipularn información, sino también por la naturaleza y cantidad de datos manejados.<br>
		  Para los niveles de planta y Control y manipulación se hace necesario tener un arquitectura de control capaz de manejar las variables y de mantener nuestros procesos en sus puntos más óptimos. Para ello utilizaremos PLCs de seguridad de Allen-Bradley GuardLogix, programados a través del software Studio 5000, de esta forma nos aseguramos que la planta tenga sistemas seguros en todos sus puntos, es decir tanto en sus entradas y salidas como en su arquitectura de control.
		  </p>
          <p class="text-secondary-700 dark:text-gray-300 text-left">
            En el nivel de supervisión se encuentrará una pantalla HMI táctil para permitir a los operarios monitorizar y realizar ajustes al proceso.
          </p>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="section bg-linear-to-b from-primary-50 to-white dark:from-primary-800 dark:to-primary-700 py-12 md:py-16">
      <div class="container-custom">
        <div class="text-center max-w-3xl mx-auto px-4">
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">Tecnologías de Industria 4.0 y relación con la transformación digital</h2>
          <p class="text-secondary-800 dark:text-secondary-50 mb-6 md:mb-8 text-left">
            Se propone integrar la siguientes tecnologías de la industria 4.0 al proyecto con el objetivo de mejorar sus indicadores Clave de Desempeño (KPIs) <br>
			Digital Twin (Modelo Ciberfísico): Al tener un sistema digitalizado pero que se puede comnuicar con el mundo físico, tenemos un sistema en el que se pueden realizar pruebas y observar cambios en los procesos antes de llevarlos a producción real, lo cual acelera la implementación de nuevas tecnologías y ahorra muchísimos costos.<br>
			IIoT (Internet Industrial de las Cosas):  Utilizando dispositivos I/O, de sensórica y controladores con la capacidad de enviar datos de forma directa a los niveles de monitreamiento y supervisión. Lo que ayuda a circumnavegar uno de los desafíos de la automatización: Comunicar niveles distintos de la pirámide de  Automatización de manera rápida, eficiente y en tiempo real.<br>
			Software MEs (Integrado con Power BI): Esto p[ermite a los niveles de Gestión de operaciones de manufactura obtener acceso a los mismos datos que el nivel inmediatamente inferior de forma más rápida y organizada, ademas de ser capaz de generar indicadores en tiempo real de la operación de producción. Indicadores como pueden ser el OEE, el tiempo total de manufactura (Lead Time), etc.
          </p>
        </div>
      </div>
    </section>

    <section class="section bg-primary-50 dark:bg-primary-950">
      <div class="container-custom max-w-4xl">
        <div class="container-custom">

        <div class="text-center max-w-3xl mx-auto mb-2 md:mb-8 px-4">
          <span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-600 text-info-400 dark:text-info-100 font-medium text-sm mb-4">
            Módulo 1
          </span>
          <h2 class="text-2xl md:text-3xl mb-4 md:mb-2 text-info-50 dark:text-info-100">Links</h2>
          <p class="text-info-400 dark:text-info-500">
            Documentación y recursos del módulo.
          </p>
        </div>

        <div class="max-w-4xl mx-auto">
          <h2 class="text-2xl font-bold mb-4 mt-4">Ver documentación</h2>
          <a 
            href="https://github.com/JoseAlejandroRosero/Los4Automaticos"
            target="_blank"
            rel="noopener"
            class="inline-block bg-accent-50 dark:bg-accent-950 text-info-200 dark:text-info-300 px-6 py-3 rounded-lg shadow hover:bg-secondary-50 dark:hover:bg-secondary-950 transition">
            Documentación del módulo en github
          </a>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
