---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 6: Virtualización de Fábrica" description="Descubre cómo virtualizar tu fábrica con Siemens NX, integrando sensores y actuadores virtuales para simular el funcionamiento del prototipo. Aprende a modelar y configurar sistemas complejos de manera eficiente.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 6: Virtualización de Fábrica" 
      highlightText="Módulo 6:"
      description="Este módulo incluye un video en Siemens NX que muestra el modelado del prototipo, la configuración del sistema y la secuencia lógica de funcionamiento, integrando sensores y actuadores virtuales."
	  />
	  <section>
			  <div>
					  <div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
							<span class="inline-block px-4 py-1 rounded-full bg-accent-50 dark:bg-accent-950 text-info-50 dark:text-info-100 font-medium text-sm mb-4">
							Simulaciones de la planta
							</span>
							<h2 class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white"> Simulación Preliminar de la planta en Plant Simulation </h2>
								<p class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">
								El proceso productivo inicia con el suministro continuo de cilindros de acero que se desplazan por el sistema de transporte hacia la estación de corte, donde se obtienen piezas con las dimensiones adecuadas para la fabricación de los distintos componentes del motorreductor. A continuación, estas piezas son enviadas a la estación de torneado, donde se les da la forma inicial necesaria para los ejes y engranajes. Posteriormente, pasan por el proceso de tratamiento térmico, etapa clave que mejora sus propiedades mecánicas, aumentando la resistencia al desgaste y prolongando la vida útil de los componentes. Desde allí, las piezas se dirigen al área de ensamble, en la cual se integran con carcasas, rodamientos y tornillos provenientes de buffers auxiliares, conformando el conjunto mecánico final del motorreductor.	
								<img src="../images/PlantSimulation.jpeg" alt="Diagrama en blanco" width="800" height="600" style="display: block; margin-left: auto; margin-right: auto;" /></p>

					  </div>
					  <div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
							<p class="text-2xl md:text-3xl mb-4 md:mb-6 text-gray-900 dark:text-white">
							Una vez ensamblado, cada motorreductor se somete a una rigurosa inspección para asegurar el cumplimiento de las tolerancias dimensionales y el correcto funcionamiento del sistema. Aquellos que superan la verificación pasan al proceso de empaquetado, donde son protegidos y preparados para su almacenamiento o envío. Finalmente, un sistema pick and place automatizado toma los motorreductores terminados y los clasifica según su tipo (sin fin-corona, cónicos o helicoidales), organizándolos en lotes separados en estaciones de almacenamiento específicas. Este sistema de separación y agrupación garantiza una trazabilidad clara de la producción y facilita la logística posterior. Gracias a la secuencia ordenada de estaciones, el proceso completo asegura un flujo eficiente desde la materia prima hasta el producto terminado, manteniendo un equilibrio entre automatización, control de calidad y capacidad de producción mensual.</p>
					  </div>
					  <div class="flex justify-center">
							  <video controls preload="auto" width="1200" height="600" >
									  <source src="../videos/PlantSimulation.mp4" type="video/mp4" />
									  <source src="../videos/PlantSimulation.webm" type="video/webm" />
									  <p> Your browser does not support this vide format </p>
							  </video>
					  </div>
			  </div>
	  </section>
  </main>
  <Footer />
</Layout> 
