---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 6: Virtualización de Fábrica" description="Descubre cómo virtualizar tu fábrica con Siemens NX, integrando sensores y actuadores virtuales para simular el funcionamiento del prototipo. Aprende a modelar y configurar sistemas complejos de manera eficiente.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 6: Virtualización de Fábrica" 
      highlightText="Módulo 6:"
      description="Este módulo incluye un video en Siemens NX que muestra el modelo del Gemelo digital integrando sensores y actuadores virtuales; ña arquitectura de comunicación y el mapeo de señales a Ignition nube."
	  />


	    <section class="py-16 bg-white dark:bg-gray-900">
		<div class="text-center max-w-3xl mx-auto mb-10 px-4">
						<span class="inline-block px-4 py-1 rounded-full bg-accent-50 text-info-50 dark:bg-accent-950 dark:text-info-100 font-medium text-sm mb-4">
						  Gemelo digital en NX
						</span>
		</div>
		<div class="flex justify-center">
          			<img src="../images/APM_NX.jpg" alt="APM_NX" class="w-[1200px] rounded-lg shadow-md object-contain" />
        </div>

		<section class="py-16 bg-white dark:bg-gray-800">
		<div class="text-center max-w-3xl mx-auto mb-10 px-4">
						<span class="inline-block px-4 py-1 rounded-full bg-accent-50 text-info-50 dark:bg-accent-950 dark:text-info-100 font-medium text-sm mb-4">
						  Arquitectura de comunicaciones (OPC-UA)
						</span>
		</div>
		<div class="flex justify-center">
          			<img src="../images/APM_ARQUI.png" alt="APM_ARQUI" class="w-[1200px] rounded-lg shadow-md object-contain" />
        </div>

		<section class="py-16 bg-white dark:bg-gray-800">
		<div class="text-center max-w-3xl mx-auto mb-10 px-4">
						<span class="inline-block px-4 py-1 rounded-full bg-accent-50 text-info-50 dark:bg-accent-950 dark:text-info-100 font-medium text-sm mb-4">
						  Mapeo de señales
						</span>
		</div>
		<div class="flex justify-center">
          			<img src="../images/APM_SEÑALES.jpg" alt="APM_SEÑALES" class="w-[1200px] rounded-lg shadow-md object-contain" />
        </div>


	  	<section class="py-16 bg-white dark:bg-gray-800">
			  <div>
						
					    <div class="text-center max-w-3xl mx-auto mb-10 px-4">
								<span class="inline-block px-4 py-1 rounded-full bg-accent-50 text-info-50 dark:bg-accent-950 dark:text-info-100 font-medium text-sm mb-4">
								  Gemelo digital
								</span>
					    </div>
					  	<div class="text-center max-w-3xl mx-auto mb-8 md:mb-16 px-4">
									<p class="text-gray-600 dark:text-gray-300">
											Movimiento del Gemelo digital a través de interfaz HMI.
									</p>
						</div>
						<div class="flex justify-center">
								  <video controls preload="auto" width="1200" height="600" >
										  <source src="../videos/M678.mp4" type="video/mp4" />
								  </video>
						</div>
			  </div>
	  	</section>


  </main>
  <Footer />
</Layout> 
