---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PricingCmp from '../components/Pricing.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 7: Controladoras Industriales" description="">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 2: Gestión de Producción" 
      highlightText="Módulo 2:"
      description="Se presentan los diagramas asociados a la gestión y evaluación de la producción automatizada en una etapa preliminar"
    />

    <!-- SECCIÓNs -->
    <section class="py-16 bg-white dark:bg-gray-800">
      <h2 class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-10">
        Lógica GRAFCET
      </h2>

      <!-- FUNCIONAL -->
      <div>
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4 text-center">
          Operación del proceso
        </h3>
        <div class="flex justify-center">
          <img src="../images/GRAFCET_FUNCIONAL.jpeg" alt="GRAFCET_FUNCIONAL" class="w-[700px] rounded-lg shadow-md object-contain">
        </div>
      </div>

      <!-- TECNOLOGICO -->
      <div>
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4 text-center">
          Operación del proceso
        </h3>
        <div class="flex justify-center">
          <img src="../images/GRAFCET_TECNOLOGICO.jpeg" alt="GRAFCET_TECNOLOGICO" class="w-[700px] rounded-lg shadow-md object-contain">
        </div>
      </div>
      


  </main>
  <Footer />
</Layout>


