---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PricingCmp from '../components/Pricing.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 7: Controladoras Industriales" description="">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 2: Gestión de Producción" 
      highlightText="Módulo 2:"
      description="TEXTO"
    />

    <!-- SECCIÓN -->
    <section class="py-16 bg-white dark:bg-gray-800">
      <h2 class="text-3xl font-bold text-center text-gray-900 dark:text-white mb-10">
        Lógica GRAFCET
      </h2>
      <p>
      La lógica del sistema con cinco bandas transportadoras, un sistema de ingreso, 
      y tres rutinas de ensamblaje, además de una parada general; es la siguiente: cada secuencia es
      independiente y de ahí que exista un bifurcación tipo AND con el número de secciones independientes, las 5 primeras
      son idénticas salvo el número de banda transportadora que se controla, para estas las descripción cíclica empieza en una 
      etapa de espera seguida de una etapa de activación de la banda transportadora a través de un boton de arranque y se 
      verifica que no exista material al final de ella, posteriormente existe una desactivación de la banda a través de la llegada 
      del material al final de la banda o por un boton de parada esta etapa es conectada a la transición relacionada con el botón 
      de arranque y el sensor al final de la banda.

      Por otro lado, existe una selección de secuencia para las rutinas basada en la posición del robot (debe estar en home), la no pulsación 
      de su correspondiente boton de parada ni de los botones de la rutina a escoger y de la pulsación del botón de arranque correspondiente
      a cada rutina, bajo estas condiciones asociadas a las respectiva transiciones, se procede a activar un banda de ingreso de las piezas
      a la calda, seguido de su desactivación cuando se llega al final de la banda y conjunto, el inicio de la rutina del robot, una vez
      terminada la rutina de movimiento se acciona una bnada que llevas las piezas a su respectiva mesa de ensamblaje madiante otra banda
      transportadora, una vez el material se encuentre a final de dicha banda se desactiva la misma y se lleva el robot a una posición de home.
      Esto proceso, de manera cíclica.

      Finalmente existe un botón de parada de emergencia que desactiva cualquier movimiento de los actuadores descritos anteriormente.
      </p>

      <!-- FUNCIONAL -->
      <div>
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4 text-center">
          Descripción funcional
        </h3>
        <div class="flex justify-center">
          <img src="../images/GRAFCET_FUNCIONAL.jpeg" alt="GRAFCET_FUNCIONAL" class="w-[85%] mx-auto rounded-lg shadow-md object-contain">
        </div>
      </div>

      <!-- TECNOLOGICO -->
      <div>
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white mb-4 text-center">
          Descripción tecnológica
        </h3>
        <div class="flex justify-center">
          <img src="../images/GRAFCET_TECNOLOGICO.jpeg" alt="GRAFCET_TECNOLOGICO" class="w-[85%] mx-auto rounded-lg shadow-md object-contain">
        </div>
      </div>
      


  </main>
  <Footer />
</Layout>


