---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Los4Automaticos - Módulo 8: Sistema de Supervisión SCADA" description="Descubre el desarrollo y validación de una interfaz HMI para el control supervisorio de la automatización, integrando elementos de alto desempeño y monitoreo de variables clave de producción.">
  <Header />
  <main>
    <HeroSection 
      title="Módulo 8: Sistema de Supervisión SCADA" 
      highlightText="Módulo 8:"
      description="Este módulo abarca el desarrollo y validación de una interfaz HMI para el control supervisorio de la automatización, integrando elementos de alto desempeño y monitoreo de variables clave de producción."
    />
  </main>
  <Footer />
</Layout> 
