---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Presentación - Los 4 Automáticos" description="Descubra las características innovadoras de nuestros motorreductores y sus diseños enfocados en aumentar su vida útil, mantener bajos niveles de ruido y proveer la mayor calidad posible. Explore la tecnología detrás de nuestros productos y cómo transformar pueden sus procesos industriales">
  <Header />
  <main>
    <HeroSection 
      title="Presentación de Los 4 Automáticos" 
      highlightText="Presentación"
	  description="Conozca los detalles de nuestro proyecto y la manufactura de nuestros motorreductores. Explore las soluciones que, desde Los 4 Automáticos, traemos a su empresa, agregándole valor a sus procesos de transmición de potencia."
    />
  </main>
  <Footer />
</Layout>

